*{
  background-color : rgb(70, 69, 73);
  margin : 0px;
}

h1{
  background-color: transparent;
}
main{
  background-image : linear-gradient(to bottom right, rgb(65, 65, 71), rgb(70, 69, 73), rgb(42, 42, 53));
}
